#site {
    background-color: lightslategrey;
}

#app {
    display: grid;
    grid-column-start: 1;
    font-size: 12pt;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

label {
    display: grid;
    flex-direction: column;
    margin-top: 1rem;
}

.submit {
    display: grid;
    float: right;
    margin-top: 1rem;
}